// ==== COLORS ====
// ================
$color-black-light: #24232C;
$color-black-dark: #18171F;

$color-grey-light: #E6E5EA;
$color-grey-dark: #817D92;

$color-green: #A4FFAF;

$color-red: #F64A4A;

$color-orange: #FB7C58;

$color-yellow: #F8CD65;
// ================

// ==== FONT SIZES ===
// ===================
$heading-large: 2rem;

$heading-medium: 1.5rem;

$body: 1.125rem;